<!-- <object type="application/x-shockwave-flash" id="mixstreamPlayerContent" data="http://mixstreamflashplayer.net/flash/MixStreamPlayer.swf" width="335" height="50"><param name="bgcolor" value=""><param name="wmode" value="transparent"><param name="flashvars" value="serverHost=216.224.164.193:7084/;&amp;getStats=0&amp;autoStart=1&amp;textColour=&amp;buttonColour="></object> -->

<!DOCTYPE html>
<html>
    <head>
    <title>kjd</title>
    </head>

    <body>
    <div style="background-color: red;">
        <!--<div style="width: 283px; height: 98px;">
            <img id="WPhtj-15wmimgimage" alt="" src="https://static.wixstatic.com/media/3f20ba_db50737603124c6eeacac19c12768d7a.gif" style="width: 283px; height: 98px; object-fit: cover;">
        </div>-->
        <div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="300" 
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,22,0">
  <param name="movie" value="movie.swf" />
  <param name="bgcolor" value="#ffffff" />
  <param name="quality" value="high" />
</object>
        </div>
    </div>
    </body>
</html>