<div data-role="view" data-title="Form" data-layout="main" data-model="app.formView" data-show="app.formView.onShow" data-after-show="app.formView.afterShow">
    <div id="formViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label>

                        <span>Label</span>

                        <input data-bind="value: formViewModel.fields.radio" type="radio" name="group1">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: formViewModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: formViewModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_formViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_formViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_formView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_formView -->
</div>